<a href="https://colab.research.google.com/github/isanjeevrai/newrepo/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. TensorFlow
3. Ploty
4. NumPy

|Data Science Tools|
|--------|
|ApacheSpark|
|TensorFlow|
|R|
|Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [16]:
# This will convert 200 minutes to hours by diving by 60

print(hours)
minutes = 200
hours = minutes / 60

3.3333333333333335

**Objectives:**

List popular languages for Data Science:
+ Python
+ R
+ SQL
+ Java

## Author
Sanjeev Singh